.container {
    display: grid;
    width: 98vw;
    height: 90vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

h1, h2, .sidebar-icon {
    color: #dad7cd;
}

.sidebar {
    background-color: #344e41;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(6, 30px) repeat(3, 30px);
    row-gap: 20px;
    align-items: center;
}

.sidebar-icon {
    max-height: 25px;
    max-width: 100%;
    margin-right: 20px;
    margin-left: 10px;
}

.header {
    background-color: #588157;
    max-height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr;
}

.header-first-row {
    display: grid;
    grid-template-columns: 50px 1fr 50px 80px auto;
    grid-template-rows: 1fr;
    justify-content: left;
    align-items: center;
    padding: 0 30px 0 30px;
}

.search-bar {
    border-radius: 30px;
    height: 25px;
    max-width: 75%;
}

.header-icon {
    max-height: 25px;
    justify-self: right;
    padding-right: 20px;
}

.search {
    padding-right: 10px;
}

.profile {
    max-height: 100px;
}

.header-second-row {
    display: grid;
    grid-template-columns: 100px 1fr 120px 120px 120px ;
    grid-template-rows: 1fr;
    justify-content: left;
    align-items: center;
    padding: 0 30px 0 30px;
}

.header-button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #344E41;
}

.header-button:hover {
    border: 3px solid #DAD7CD;
}

.header-button:active {
    background-color: #DAD7CD;
    border: 3px solid #DAD7CD;
}

.howdy {
    color: #DAD7CD;
    font-weight: bold;

}

.main-content {
    background-color: white;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 1fr;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 10px 0 10px;
}

.project {
    background-color: #A3B18A;
    border-radius: 10px;
    border: inset #344E41;
    padding:10px;
}

.main-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements-container {
    display: grid;
    grid-template-rows: 70px auto;
}
.announcements {
    background-color: #A3B18A;
    border-radius: 10px;
    padding:30px;
}

.trending-container {
    display: grid;
    grid-template-rows: 70px auto;
}

.trending {
    background-color: #A3B18A;
    border-radius: 10px;
    padding:10px;
}