.container {
    display: grid;
    width: 98vw;
    height: 90vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #1e293b;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: #0c4a6e;
}

.main-content {
    background-color: #365314;
}